node_modules
package-lock.json
# ---- Maven
target/

# ---- IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/

# ---- Eclipse
.classpath
.project
.settings

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# ---- Sonar
.sonar
.scannerwork
